Repository LiamMcKenzie/ScaredKrow, pull requests merged in 2024-05, with the labels that each got.

#18 Add crow enemy and alert for player to game scene
  Assets/Prefabs/Alert/Alert.prefab
  Assets/Prefabs/Alert/AlertAnimation.anim
  Assets/Prefabs/Crow/CrowEnemy.prefab
  Assets/Prefabs/Crow/FlatShadow.meta
  Assets/Prefabs/Crow/FlatShadow/CrowShadow.mat
  Assets/Prefabs/Crow/FlatShadow/CrowShadow.mat.meta
  Assets/Prefabs/Crow/FlatShadow/CrowShadowImage.png
  Assets/Prefabs/Crow/FlatShadow/CrowShadowImage.png.meta
  Assets/Prefabs/Player (ALERT).prefab
  Assets/Prefabs/Player (ALERT).prefab.meta
  Assets/Scenes/TileGenTestScene.unity
  Assets/Scripts/Crow/CrowManager.cs
  Assets/Scripts/Player/PlayerController.cs
  ProjectSettings/TagManager.asset
Labels: Category: Gameplay, Category: Player

#21 Combine player prefabs and add Crow spawn/reset to 'boundary' scene
  Assets/Prefabs/Player (ALERT).prefab
  Assets/Scenes/BoundaryTestScene.unity
  Assets/Scripts/Crow/CrowManager.cs
  Assets/Scripts/Game/GameManager.cs
Labels: Category: Gameplay, Category: Player

#32 Catchup Area Reset - Bugfix
  Assets/Scripts/Game/GameManager.cs
Labels: Category: Gameplay, Type: Bug

#30 Crow spawning adjusted to game boundary
  Assets/Scripts/Crow/CrowManager.cs
Labels: Category: Gameplay, Type: Refactor

#34 Johnathan/lilypads
  Assets/Models/Obstacles/Lilypad.meta
  Assets/Models/Obstacles/Lilypad/Lilypad.blend
  Assets/Models/Obstacles/Lilypad/Lilypad.blend.meta
  Assets/Models/Obstacles/Lilypad/Lilypad.blend1
  Assets/Models/Obstacles/Lilypad/Lilypad.blend1.meta
  Assets/Models/Obstacles/Lilypad/Lilypad.glb
  Assets/Models/Obstacles/Lilypad/Lilypad.glb.meta
  Assets/Models/Obstacles/Lilypad/Lilypad.mtl
  Assets/Models/Obstacles/Lilypad/Lilypad.mtl.meta
  Assets/Models/Obstacles/Lilypad/Lilypad.obj
  Assets/Models/Obstacles/Lilypad/Lilypad.obj.meta
  Assets/Prefabs/Lilypad.prefab
  Assets/Prefabs/Lilypad.prefab.meta
  Assets/Prefabs/Tiles/WaterTile.prefab
  Assets/Scenes/Lilypad Scene.unity
  Assets/Scenes/Lilypad Scene.unity.meta
  Assets/Scriptable Objects/Tiles/Water.asset
  Assets/Scripts/Effects/Bob.cs
  Assets/Scripts/Effects/Bob.cs.meta
  Assets/Scripts/TileGrid/DifficultyProfile.cs
  Assets/Scripts/TileGrid/TileController.cs
  Assets/Scripts/TileGrid/TileData.cs
  Assets/Scripts/TileGrid/TileGridChunk.cs
Labels: Category: Gameplay, Category: Visuals

#35 Hiding in haybales, haybale particles and bale spawn rate
  Assets/Prefabs/Tiles/Hay with Particles.meta
  Assets/Prefabs/Tiles/Hay with Particles/HaypileTile.prefab
  Assets/Prefabs/Tiles/Hay with Particles/HaypileTile.prefab.meta
  Assets/Scenes/Player Hiding.unity
  Assets/Scenes/Player Hiding.unity.meta
  Assets/Scriptable Objects/Tiles/HayPile.asset
  Assets/Scripts/Crow/CrowCollision.cs
  Assets/Scripts/Effects/HayParticleTrigger.cs
  Assets/Scripts/Effects/HayParticleTrigger.cs.meta
  Assets/Scripts/PlayerMovement.cs
  Assets/Scripts/TileGrid/TileController.cs
Labels: Category: Player, Category: Visuals, Type: Enhancement

#49 Add final crow model with decal shadow and smear texture
  Assets/Materials/Water.mat
  Assets/Prefabs/Crow/FinalCrow.meta
  Assets/Prefabs/Crow/FinalCrow/FinalCrow.prefab
  Assets/Prefabs/Crow/FinalCrow/FinalCrow.prefab.meta
  Assets/Scenes/FinalCrow.unity
  Assets/Scenes/FinalCrow.unity.meta
Labels: Category: Gameplay, Type: Enhancement

#53 feat: hay particles on player hit
  Assets/Prefabs/Player/Player (Hay Particles).prefab
  Assets/Prefabs/Player/Player (Hay Particles).prefab.meta
  Assets/Scenes/Johnathan-ParticleEffectOnHit.unity
  Assets/Scenes/Johnathan-ParticleEffectOnHit.unity.meta
  Assets/Scripts/Player/PlayerController.cs
Labels: Category: Player, Type: Feature
